/* #summary {
  max-width: 650px;
} */

/* #visualizations {
    float: right;
} */

#maxtemplanding {
  height: 170px;
  float: left;
}

#vmaxtemplanding,
#vhumiditylanding,
#vcloudinesslanding,
#vwindlanding {
  height: 100px;
  width: 150px;
  /* margin: 0 auto; */
  margin-left: 2%; 
}

#vhumiditylanding {
  margin-left: 10px; 
}

#vcloudinesslanding {
  margin-top: 15px;
}

#vwindlanding {
  margin-top: 15px;
  margin-left: 10px; 
}

.container {
  padding-top: 150px;
  display: flex;
  padding-left: 1px;
  /* margin-left: 15%;
  margin-right: 15%; */
}

.jsummary {
    width: 650px;
    height: 500px;
    float: left;
  }

.jvisual {
    width: 400px;
    height: 415px;
    margin-left: 50px;
    float: right;
  }

/* Edit Fonts */

.display-4 {
  font-family: "Georgia", serif;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.navbar-brand {
  font-family: "Georgia", serif;
  font-size: 25px;
  font-weight: bold;
}

/* Visualize Webpage  */

#visual-image {
    width: 400px;
    height: 250px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imagesummary {
  margin-top: 20px;
}

/* Data Webpage  */

.table-responsive {
  overflow-x: auto !important;
}

/* Camparison Webpage  */

#commaxtemppic,
#comhumiditypic,
#comcloudinesspic,
#comwindpic {
  height: 250px;
  width: 350px;
  /* margin: 0 auto; */
  /* margin-left: 2%;  */
}

.comparisoncontainer {
  padding-top: 23px;
  position: relative;
}

#commaxtemppic,
#comcloudinesspic {
  margin-left: 20%;
}

#commaxtemppic,
#comhumiditypic {
  margin-top: 7%;
}

#comcloudinesspic,
#comwindpic {
  margin-top: 15%;
}

/* Comparison Title Text */
.commaxtemptitle,
.comhumiditytitle,
.comcloudinesstitle,
.comwindtitle  {
  font-family: "Georgia", serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.commaxtemptitle {
  position: absolute;
  right: -200px; 
  left: 189px; 
}

.comhumiditytitle {
  position: absolute;
  right: -200px; 
  left: 120px; 
}

.comcloudinesstitle {
  position: absolute;
  top: 43px; 
  right: -200px; 
  left: 225px;
}

.comwindtitle {
  position: absolute;
  top: 43px;
  right: -200px; 
  left: 118px;
}

@media (max-width: 1200px){
  
  .jsummary {
    width: 700px;
  }

  .jvisual {
    width: 700px;
    margin-left: 0px;
  }
  
  #vmaxtemplanding{
    margin-left: 0px;
  }

  #vhumiditylanding {
    margin-left: 0px; 
  }

  #vcloudinesslanding {
    margin-top: 0px;
    margin-left: 0px;
  }

  #vwindlanding {
    margin-top: 0px;
    margin-left: 0px; 
  }

  /* Camparison Webpage  */
  
  #commaxtemppic,
  #comcloudinesspic {
  margin-left: 0%;
  }
  
  #commaxtemppic,
  #comhumiditypic {
  margin-top: 15%;
  }

  .commaxtemptitle {
    position: absolute;
    top: 11px;
    right: -200px; 
    left: 90px; 
  }
  
  .comhumiditytitle {
    position: absolute;
    top: 60px;
    right: -200px; 
    left: 130px; 
  }
  
  .comcloudinesstitle {
    position: absolute;
    top: 60px; 
    right: -200px; 
    left: 125px;
  }
  
  .comwindtitle {
    position: absolute;
    top: 60px;
    right: -200px; 
    left: 125px;
  }

}

@media (max-width: 800px){
  .display-4 {
    font-size: xx-large;
  }

  .container {
    padding-top: 0px;
  }
  .jsummary {
    height: 500px;
    width:  500px;
  }
  
  .jvisual {
    width:  500px;
  }

  #vmaxtemplanding,
  #vhumiditylanding,
  #vcloudinesslanding,
  #vwindlanding {
  height: 100px;
  width: 100px;
  margin-left: 0%; 
  }   
  
  #vmaxtemplanding{
    margin-left: 0px;
  }

  #vhumiditylanding {
    margin-left: 0px; 
  }

  #vcloudinesslanding {
    margin-top: 0px;
    margin-left: 0px;
  }

  #vwindlanding {
    margin-top: 0px;
    margin-left: 0px; 
  }
  
  #visual-image {
    width: 350px;
    height: 200px;
  } 
  
  /* Data Webpage */
  
  .datasentence{
    font-size: 12px;
  }

  .comparisontilte {
    font-size: 27px
  }
  
  #commaxtemppic,
  #comhumiditypic,
  #comcloudinesspic,
  #comwindpic {
   margin-left: 10%;
  }

}

/* .clearfix::after{
  content: "";
  display: block;
  clear: both;
} */
  /* margin: 0 auto;
  margin-left: 0%;
  margin-right:0%; */